{% include "top.html" %}
<h2  class="text">Radicals</h2>

<table class="radicals">
<tr class="radical">

<td class="strokenumber">1</td>

<td class="radical"><a href="../radical/1">一</a></td>
<td class="radical"><a href="../radical/2">丨</a></td>
<td class="radical"><a href="../radical/3">丶</a></td>
<td class="radical"><a href="../radical/4">丿</a></td>
<td class="radical"><a href="../radical/5">乙</a></td>
<td class="radical"><a href="../radical/6">亅</a></td>

<td class="strokenumber">2</td>

<td class="radical"><a href="../radical/7">二</a></td>
<td class="radical"><a href="../radical/8">亠</a></td>
<td class="radical"><a href="../radical/9">人</a></td>
<td class="radical"><a href="../radical/10">儿</a></td>
<td class="radical"><a href="../radical/11">入</a></td>
<td class="radical"><a href="../radical/12">八</a></td>
<td class="radical"><a href="../radical/13">冂</a></td>
</tr><tr class="radical">
<td class="radical"><a href="../radical/14">冖</a></td>
<td class="radical"><a href="../radical/15">冫</a></td>
<td class="radical"><a href="../radical/16">几</a></td>
<td class="radical"><a href="../radical/17">凵</a></td>
<td class="radical"><a href="../radical/18">刀</a></td>
<td class="radical"><a href="../radical/19">力</a></td>
<td class="radical"><a href="../radical/20">勹</a></td>
<td class="radical"><a href="../radical/21">匕</a></td>
<td class="radical"><a href="../radical/22">匚</a></td>
<td class="radical"><a href="../radical/23">匸</a></td>
<td class="radical"><a href="../radical/24">十</a></td>
<td class="radical"><a href="../radical/25">卜</a></td>
<td class="radical"><a href="../radical/26">卩</a></td>
<td class="radical"><a href="../radical/27">厂</a></td>
<td class="radical"><a href="../radical/28">厶</a></td>
</tr><tr class="radical">
<td class="radical"><a href="../radical/29">又</a></td>


<td class="strokenumber">3</td>

<td class="radical"><a href="../radical/30">口</a></td>
<td class="radical"><a href="../radical/31">囗</a></td>
<td class="radical"><a href="../radical/32">土</a></td>
<td class="radical"><a href="../radical/33">士</a></td>
<td class="radical"><a href="../radical/34">夂</a></td>
<td class="radical"><a href="../radical/35">夊</a></td>
<td class="radical"><a href="../radical/36">夕</a></td>
<td class="radical"><a href="../radical/37">大</a></td>
<td class="radical"><a href="../radical/38">女</a></td>
<td class="radical"><a href="../radical/39">子</a></td>
<td class="radical"><a href="../radical/40">宀</a></td>
<td class="radical"><a href="../radical/41">寸</a></td>
<td class="radical"><a href="../radical/42">小</a></td>
</tr><tr class="radical">
<td class="radical"><a href="../radical/43">尢</a></td>
<td class="radical"><a href="../radical/44">尸</a></td>
<td class="radical"><a href="../radical/45">屮</a></td>
<td class="radical"><a href="../radical/46">山</a></td>
<td class="radical"><a href="../radical/47">巛</a></td>
<td class="radical"><a href="../radical/48">工</a></td>
<td class="radical"><a href="../radical/49">己</a></td>
<td class="radical"><a href="../radical/50">巾</a></td>
<td class="radical"><a href="../radical/51">干</a></td>
<td class="radical"><a href="../radical/52">乡</a></td>
<td class="radical"><a href="../radical/53">广</a></td>
<td class="radical"><a href="../radical/54">廴</a></td>
<td class="radical"><a href="../radical/55">廾</a></td>
<td class="radical"><a href="../radical/56">弋</a></td>
<td class="radical"><a href="../radical/57">弓</a></td>
</tr><tr class="radical">
<td class="radical"><a href="../radical/58">彐</a></td>
<td class="radical"><a href="../radical/59">彡</a></td>
<td class="radical"><a href="../radical/60">彳</a></td>


<td class="strokenumber">4</td>

<td class="radical"><a href="../radical/61">心</a></td>
<td class="radical"><a href="../radical/62">戈</a></td>
<td class="radical"><a href="../radical/63">戶</a></td>
<td class="radical"><a href="../radical/64">手</a></td>
<td class="radical"><a href="../radical/65">支</a></td>
<td class="radical"><a href="../radical/66">攴</a></td>
<td class="radical"><a href="../radical/67">文</a></td>
<td class="radical"><a href="../radical/68">斗</a></td>
<td class="radical"><a href="../radical/69">斤</a></td>
<td class="radical"><a href="../radical/70">方</a></td>
<td class="radical"><a href="../radical/71">无</a></td>
</tr><tr class="radical">
<td class="radical"><a href="../radical/72">日</a></td>
<td class="radical"><a href="../radical/73">曰</a></td>
<td class="radical"><a href="../radical/74">月</a></td>
<td class="radical"><a href="../radical/75">木</a></td>
<td class="radical"><a href="../radical/76">欠</a></td>
<td class="radical"><a href="../radical/77">止</a></td>
<td class="radical"><a href="../radical/78">歹</a></td>
<td class="radical"><a href="../radical/79">殳</a></td>
<td class="radical"><a href="../radical/80">毋</a></td>
<td class="radical"><a href="../radical/81">比</a></td>
<td class="radical"><a href="../radical/82">毛</a></td>
<td class="radical"><a href="../radical/83">氏</a></td>
<td class="radical"><a href="../radical/84">气</a></td>
<td class="radical"><a href="../radical/85">水</a></td>
<td class="radical"><a href="../radical/86">火</a></td>
</tr><tr class="radical">
<td class="radical"><a href="../radical/87">爪</a></td>
<td class="radical"><a href="../radical/88">父</a></td>
<td class="radical"><a href="../radical/89">爻</a></td>
<td class="radical"><a href="../radical/90">丬</a></td>
<td class="radical"><a href="../radical/91">片</a></td>
<td class="radical"><a href="../radical/92">牙</a></td>
<td class="radical"><a href="../radical/93">牛</a></td>
<td class="radical"><a href="../radical/94">犬</a></td>


<td class="strokenumber">5</td>

<td class="radical"><a href="../radical/95">玄</a></td>
<td class="radical"><a href="../radical/96">玉</a></td>
<td class="radical"><a href="../radical/97">瓜</a></td>
<td class="radical"><a href="../radical/98">瓦</a></td>
<td class="radical"><a href="../radical/99">甘</a></td>
<td class="radical"><a href="../radical/100">生</a></td>
</tr><tr class="radical">
<td class="radical"><a href="../radical/101">用</a></td>
<td class="radical"><a href="../radical/102">曱</a></td>
<td class="radical"><a href="../radical/103">疋</a></td>
<td class="radical"><a href="../radical/104">疒</a></td>
<td class="radical"><a href="../radical/105">癶</a></td>
<td class="radical"><a href="../radical/106">白</a></td>
<td class="radical"><a href="../radical/107">皮</a></td>
<td class="radical"><a href="../radical/108">皿</a></td>
<td class="radical"><a href="../radical/109">目</a></td>
<td class="radical"><a href="../radical/110">矛</a></td>
<td class="radical"><a href="../radical/111">矢</a></td>
<td class="radical"><a href="../radical/112">石</a></td>
<td class="radical"><a href="../radical/113">示</a></td>
<td class="radical"><a href="../radical/114">禸</a></td>
<td class="radical"><a href="../radical/115">禾</a></td>
</tr><tr class="radical">
<td class="radical"><a href="../radical/116">穴</a></td>
<td class="radical"><a href="../radical/117">立</a></td>


<td class="strokenumber">6</td>

<td class="radical"><a href="../radical/118">竹</a></td>
<td class="radical"><a href="../radical/119">米</a></td>
<td class="radical"><a href="../radical/120">糸</a></td>
<td class="radical"><a href="../radical/121">缶</a></td>
<td class="radical"><a href="../radical/122">网</a></td>
<td class="radical"><a href="../radical/123">羊</a></td>
<td class="radical"><a href="../radical/124">羽</a></td>
<td class="radical"><a href="../radical/125">老</a></td>
<td class="radical"><a href="../radical/126">而</a></td>
<td class="radical"><a href="../radical/127">耒</a></td>
<td class="radical"><a href="../radical/128">耳</a></td>
<td class="radical"><a href="../radical/129">聿</a></td>
</tr><tr class="radical">
<td class="radical"><a href="../radical/130">肉</a></td>
<td class="radical"><a href="../radical/131">臣</a></td>
<td class="radical"><a href="../radical/132">自</a></td>
<td class="radical"><a href="../radical/133">至</a></td>
<td class="radical"><a href="../radical/134">臼</a></td>
<td class="radical"><a href="../radical/135">舌</a></td>
<td class="radical"><a href="../radical/136">舛</a></td>
<td class="radical"><a href="../radical/137">舟</a></td>
<td class="radical"><a href="../radical/138">艮</a></td>
<td class="radical"><a href="../radical/139">色</a></td>
<td class="radical"><a href="../radical/140">艸</a></td>
<td class="radical"><a href="../radical/141">虍</a></td>
<td class="radical"><a href="../radical/142">虫</a></td>
<td class="radical"><a href="../radical/143">血</a></td>
<td class="radical"><a href="../radical/144">行</a></td>
</tr><tr class="radical">
<td class="radical"><a href="../radical/145">衣</a></td>
<td class="radical"><a href="../radical/146">襾</a></td>


<td class="strokenumber">7</td>

<td class="radical"><a href="../radical/147">見</a></td>
<td class="radical"><a href="../radical/148">角</a></td>
<td class="radical"><a href="../radical/149">言</a></td>
<td class="radical"><a href="../radical/150">谷</a></td>
<td class="radical"><a href="../radical/151">豆</a></td>
<td class="radical"><a href="../radical/152">豕</a></td>
<td class="radical"><a href="../radical/153">豸</a></td>
<td class="radical"><a href="../radical/154">貝</a></td>
<td class="radical"><a href="../radical/155">赤</a></td>
<td class="radical"><a href="../radical/156">走</a></td>
<td class="radical"><a href="../radical/157">足</a></td>
<td class="radical"><a href="../radical/158">身</a></td>
</tr><tr class="radical">
<td class="radical"><a href="../radical/159">車</a></td>
<td class="radical"><a href="../radical/160">辛</a></td>
<td class="radical"><a href="../radical/161">辰</a></td>
<td class="radical"><a href="../radical/162">辵</a></td>
<td class="radical"><a href="../radical/163">邑</a></td>
<td class="radical"><a href="../radical/164">酉</a></td>
<td class="radical"><a href="../radical/165">釆</a></td>
<td class="radical"><a href="../radical/166">里</a></td>


<td class="strokenumber">8</td>

<td class="radical"><a href="../radical/167">金</a></td>
<td class="radical"><a href="../radical/168">長</a></td>
<td class="radical"><a href="../radical/169">門</a></td>
<td class="radical"><a href="../radical/170">阜</a></td>
<td class="radical"><a href="../radical/171">隶</a></td>
<td class="radical"><a href="../radical/172">隹</a></td>
</tr><tr class="radical">
<td class="radical"><a href="../radical/173">雨</a></td>
<td class="radical"><a href="../radical/174">靑</a></td>
<td class="radical"><a href="../radical/175">非</a></td>


<td class="strokenumber">9</td>

<td class="radical"><a href="../radical/176">面</a></td>
<td class="radical"><a href="../radical/177">革</a></td>
<td class="radical"><a href="../radical/178">韋</a></td>
<td class="radical"><a href="../radical/179">韭</a></td>
<td class="radical"><a href="../radical/180">音</a></td>
<td class="radical"><a href="../radical/181">頁</a></td>
<td class="radical"><a href="../radical/182">風</a></td>


<td class="strokenumber">9</td>

<td class="radical"><a href="../radical/183">飛</a></td>
<td class="radical"><a href="../radical/184">食</a></td>
<td class="radical"><a href="../radical/185">首</a></td>
</tr><tr class="radical">
<td class="radical"><a href="../radical/186">香</a></td>


<td class="strokenumber">10</td>

<td class="radical"><a href="../radical/187">馬</a></td>
<td class="radical"><a href="../radical/188">骨</a></td>
<td class="radical"><a href="../radical/189">高</a></td>
<td class="radical"><a href="../radical/190">髟</a></td>
<td class="radical"><a href="../radical/191">鬥</a></td>
<td class="radical"><a href="../radical/192">鬯</a></td>
<td class="radical"><a href="../radical/193">鬲</a></td>
<td class="radical"><a href="../radical/194">鬼</a></td>


<td class="strokenumber">11</td>

<td class="radical"><a href="../radical/195">魚</a></td>
<td class="radical"><a href="../radical/196">鳥</a></td>
<td class="radical"><a href="../radical/197">鹵</a></td>
<td class="radical"><a href="../radical/198">鹿</a></td>
</tr><tr class="radical">
<td class="radical"><a href="../radical/199">麥</a></td>
<td class="radical"><a href="../radical/200">麻</a></td>


<td class="strokenumber">12</td>

<td class="radical"><a href="../radical/201">黃</a></td>
<td class="radical"><a href="../radical/202">黍</a></td>
<td class="radical"><a href="../radical/203">黑</a></td>
<td class="radical"><a href="../radical/204">黹</a></td>


<td class="strokenumber">13</td>

<td class="radical"><a href="../radical/205">黽</a></td>
<td class="radical"><a href="../radical/206">鼎</a></td>
<td class="radical"><a href="../radical/207">鼓</a></td>
<td class="radical"><a href="../radical/208">鼠</a></td>


<td class="strokenumber">14</td>

<td class="radical"><a href="../radical/209">鼻</a></td>
<td class="radical"><a href="../radical/210">齊</a></td>


</tr><tr class="radical">
<td class="strokenumber">15</td>

<td class="radical"><a href="../radical/211">齒</a></td>


<td class="strokenumber">16</td>

<td class="radical"><a href="../radical/212">龍</a></td>
<td class="radical"><a href="../radical/213">龜</a></td>


<td class="strokenumber">17</td>

<td class="radical"><a href="../radical/214">龠</a></td>
<td class="radical"></td>
<td class="radical"></td>
<td class="radical"></td>
<td class="radical"></td>
<td class="radical"></td>
<td class="radical"></td>
<td class="radical"></td>
<td class="radical"></td>
</tr>

</table>
{% include "bottom.html" %}
